-- CLEANING indian_movies.csv FILE

-- importing necessary modules

In [2]:
import pandas as pd

-- Path for my datafile

In [3]:
folder="data"
subfolder="movies_data"
filename="indian_movies.csv"
path=f'{folder}/{subfolder}/{filename}'
path

'data/movies_data/indian_movies.csv'

-- reading the data from csv file and storing it in dataframe for cleaning

In [4]:
df=pd.read_csv(path)
df.head()

,Unnamed: 0,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,7,MOV008,Sarkar (Tamil),A. R. Murugadoss,Action Thriller,2005.0,NaN,NaN,7.5,173.0,Vijay,Keerthy Suresh,Tamil,Kalaignar TV
1,9,MOV010,2.0 (Tamil),S. Shankar,Science Fiction Action,2018.0,550.0,800.0,6.9,147.0,Rajinikanth,Amy Jackson,Tamil,Lyca Productions
2,21,MOV022,K.G.F: Chapter 1,Prashanth Neel,Action Drama,2018.0,50.0,250.0,7.9,156.0,Yash,Srinidhi Shetty,Kannada,Hombale Films
3,23,MOV024,Avengers: Endgame (Dubbed),"Anthony Russo, Joseph Russo",Superhero,2019.0,NaN,NaN,8.4,181.0,Robert Downey Jr.,Scarlett Johansson,"English (Dubbed in Telugu, Kannada, Hindi)",Marvel Studios
4,25,MOV026,Pailwaan,S. Krishna,Sports Action,2019.0,30.0,55.0,6.8,NaN,Sudeep,Aakanksha Singh,Kannada,RRR Motion Pictures

-- getting info of the dataframe for Cleaning

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          18 non-null     int64
 1   MovieID             18 non-null     object
 2   Title               18 non-null     object
 3   Director            18 non-null     object
 4   Genre               18 non-null     object
 5   ReleaseYear         17 non-null     float64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              17 non-null     float64
 9   Duration (minutes)  17 non-null     float64
 10  LeadActor           18 non-null     object
 11  LeadActress         18 non-null     object
 12  Language            18 non-null     object
 13  ProductionCompany   18 non-null     object
dtypes: float64(5), int64(1), object(8)
memory usage: 2.1+ KB

-- Renaming Unnamed :0 column with "index" as present in other tables

In [6]:
df.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
df.head()

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,7,MOV008,Sarkar (Tamil),A. R. Murugadoss,Action Thriller,2005.0,NaN,NaN,7.5,173.0,Vijay,Keerthy Suresh,Tamil,Kalaignar TV
1,9,MOV010,2.0 (Tamil),S. Shankar,Science Fiction Action,2018.0,550.0,800.0,6.9,147.0,Rajinikanth,Amy Jackson,Tamil,Lyca Productions
2,21,MOV022,K.G.F: Chapter 1,Prashanth Neel,Action Drama,2018.0,50.0,250.0,7.9,156.0,Yash,Srinidhi Shetty,Kannada,Hombale Films
3,23,MOV024,Avengers: Endgame (Dubbed),"Anthony Russo, Joseph Russo",Superhero,2019.0,NaN,NaN,8.4,181.0,Robert Downey Jr.,Scarlett Johansson,"English (Dubbed in Telugu, Kannada, Hindi)",Marvel Studios
4,25,MOV026,Pailwaan,S. Krishna,Sports Action,2019.0,30.0,55.0,6.8,NaN,Sudeep,Aakanksha Singh,Kannada,RRR Motion Pictures

-- ReleaseYear has a missing value and also its datatype should be int nott float

In [7]:
df[df.ReleaseYear.isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
17,48,MOV049,U Turn,Pawan Kumar,Thriller,NaN,5.0,20.0,7.9,128.0,Shraddha Srinath,Dilip Raj,Kannada,PRK Productions

-- from bollywood_movies.sqlite data ,  I extracted df[df['MovieID']=='MOV049'] which gave output 2016 as Release year for the movie U Turn so I will fill the correct data here.

In [8]:
df['ReleaseYear']=df['ReleaseYear'].fillna(2016)

-- Now datatype of ReleaseYear should be int

In [9]:
df['ReleaseYear']=df["ReleaseYear"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               18 non-null     int64
 1   MovieID             18 non-null     object
 2   Title               18 non-null     object
 3   Director            18 non-null     object
 4   Genre               18 non-null     object
 5   ReleaseYear         18 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              17 non-null     float64
 9   Duration (minutes)  17 non-null     float64
 10  LeadActor           18 non-null     object
 11  LeadActress         18 non-null     object
 12  Language            18 non-null     object
 13  ProductionCompany   18 non-null     object
dtypes: float64(4), int64(2), object(8)
memory usage: 2.1+ KB

-- now, we have missing data and incorrect datatype in  row label:  6   Budget (Crores)     10 non-null     float64 and rowlabel :  7   BoxOffice (Crores)  10 non-null     float64

-- getting rows with missing data in Budget column

In [10]:
df[df['Budget (Crores)'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,7,MOV008,Sarkar (Tamil),A. R. Murugadoss,Action Thriller,2005,NaN,NaN,7.5,173.0,Vijay,Keerthy Suresh,Tamil,Kalaignar TV
3,23,MOV024,Avengers: Endgame (Dubbed),"Anthony Russo, Joseph Russo",Superhero,2019,NaN,NaN,8.4,181.0,Robert Downey Jr.,Scarlett Johansson,"English (Dubbed in Telugu, Kannada, Hindi)",Marvel Studios
9,32,MOV033,96 (Kannada Dubbed),C. Premkumar,Romantic Drama,2019,NaN,NaN,7.9,158.0,Vijay Sethupathi,Trisha,Kannada (Dubbed from Tamil),Madras Enterprises
10,34,MOV035,Dabangg 3 (Dubbed),Prabhu Deva,Action Comedy,2019,NaN,NaN,5.8,159.0,Salman Khan,Sonakshi Sinha,Telugu (Dubbed from Hindi),S. K. Film Enterprises
11,36,MOV037,Shylock (Kannada Dubbed),Ajai Vasudev,Action Thriller,2020,NaN,NaN,6.8,164.0,Mammootty,Rajkiran,Kannada (Dubbed from Malayalam),Vrindaavan Films
12,37,MOV038,Love Aaj Kal (Dubbed),Imtiaz Ali,Romantic Drama,2020,NaN,NaN,4.4,141.0,Kartik Aaryan,Sara Ali Khan,Telugu (Dubbed from Hindi),Reliance Entertainment
13,38,MOV039,Forensic (Kannada Dubbed),"Akhil Paul, Anas Khan",Thriller,2020,NaN,NaN,6.9,129.0,Tovino Thomas,Mamta Mohandas,Kannada (Dubbed from Malayalam),Evil Eye Pictures
14,39,MOV040,Trance (Kannada Dubbed),Anwar Rasheed,Psychological Thriller,2020,NaN,NaN,7.1,162.0,Fahadh Faasil,Nazriya Nazim,Kannada (Dubbed from Malayalam),Dulquer Salmaan Productions

-- from above output its clear that same 8 movies are missing Budget and Boxoffice values.

-- we can get these values from bollywood_movies.sqlite data and update them in this table

-- these tables contain median values i.e 50 for Budget and 250 for Boxoffice so we can update empty rows with this value

-- if it was an independent table I would have filled missing values with median value for these columns calculated with the data of this table, since these movies are all from its parents table i.e bollywood_movies I'm updating data as per the data present in bollywood_movies.sqlite to avoid inconsistency.

In [11]:

df['Budget (Crores)'].fillna(df["Budget (Crores)"].median())

0      25.0
1     550.0
2      50.0
3      25.0
4      30.0
5      20.0
6      10.0
7     300.0
8       5.0
9      25.0
10     25.0
11     25.0
12     25.0
13     25.0
14     25.0
15     50.0
16      1.0
17      5.0
Name: Budget (Crores), dtype: float64

In [12]:
df['BoxOffice (Crores)'].fillna(df['BoxOffice (Crores)'].median())

0      47.5
1     800.0
2     250.0
3      47.5
4      55.0
5      40.0
6      20.0
7     450.0
8      10.0
9      47.5
10     47.5
11     47.5
12     47.5
13     47.5
14     47.5
15    250.0
16      5.0
17     20.0
Name: BoxOffice (Crores), dtype: float64

clealrly , median values in this table differ from median values in parent table so updating the values as per parent table .

In [13]:
df['Budget (Crores)']=df['Budget (Crores)'].fillna(50)
df['BoxOffice (Crores)']=df['BoxOffice (Crores)'].fillna(250)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               18 non-null     int64
 1   MovieID             18 non-null     object
 2   Title               18 non-null     object
 3   Director            18 non-null     object
 4   Genre               18 non-null     object
 5   ReleaseYear         18 non-null     int64
 6   Budget (Crores)     18 non-null     float64
 7   BoxOffice (Crores)  18 non-null     float64
 8   Rating              17 non-null     float64
 9   Duration (minutes)  17 non-null     float64
 10  LeadActor           18 non-null     object
 11  LeadActress         18 non-null     object
 12  Language            18 non-null     object
 13  ProductionCompany   18 non-null     object
dtypes: float64(4), int64(2), object(8)
memory usage: 2.1+ KB

-- Handling missing value in Rating

In [15]:
df[df['Rating'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
7,30,MOV031,Saaho,Sujeeth,Action Thriller,2019,300.0,450.0,NaN,170.0,Prabhas,Shraddha Kapoor,"Telugu (Dubbed in Hindi, Kannada)",UV Creations

-- from parent table we have the value for Rating=6.5 for movie with id MOV031 and title Saaho, updating that value here

In [16]:
df['Rating']=df['Rating'].fillna(6.5)
df[df['Rating'].isna()]

Empty DataFrame
Columns: [index, MovieID, Title, Director, Genre, ReleaseYear, Budget (Crores), BoxOffice (Crores), Rating, Duration (minutes), LeadActor, LeadActress, Language, ProductionCompany]
Index: []

-- handling missing data in Duration and its datatype is float which should be int

In [17]:
df[df['Duration (minutes)'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
4,25,MOV026,Pailwaan,S. Krishna,Sports Action,2019,30.0,55.0,6.8,NaN,Sudeep,Aakanksha Singh,Kannada,RRR Motion Pictures

-- from parent table I got the value of Duration=166, updating the empty field with correct value and changing the datatype to int

In [18]:
df['Duration (minutes)']=df['Duration (minutes)'].fillna(166).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               18 non-null     int64
 1   MovieID             18 non-null     object
 2   Title               18 non-null     object
 3   Director            18 non-null     object
 4   Genre               18 non-null     object
 5   ReleaseYear         18 non-null     int64
 6   Budget (Crores)     18 non-null     float64
 7   BoxOffice (Crores)  18 non-null     float64
 8   Rating              18 non-null     float64
 9   Duration (minutes)  18 non-null     int64
 10  LeadActor           18 non-null     object
 11  LeadActress         18 non-null     object
 12  Language            18 non-null     object
 13  ProductionCompany   18 non-null     object
dtypes: float64(3), int64(3), object(8)
memory usage: 2.1+ KB

-- Since there are no more missing values or inconsistent datatype in our dataframe, the file is clean.

-- now store the cleaned data in an excel file

In [19]:
df.to_excel('indian_movies.xlsx', index=False)