P2> Find the top 3 Rooms in each city based on their Reviews

initial step: adding cleaned excel file using pandas for analysis

In [47]:
import pandas as pd
df = pd.read_excel("cleaned_data.xlsx")
df.head()

,Unnamed: 0,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,0,IND137,Mumbai,Unknown,Entire Home/Apartment,3200,2.000000,1,1,4.000000,2022-03-12
1,1,IND138,Bangalore,Indiranagar,Private Room,1800,1.959184,1,1,2.000000,2023-02-15
2,2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,4200,3.000000,2,2,3.853659,2021-12-25
3,3,IND140,Chennai,Teynampet,Shared Room,1000,1.000000,2,1,1.000000,2022-05-05
4,4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.000000,3,3,5.000000,2022-08-20

-- Removing unnecessary unnamed col automatically added by excel from dataframe

In [48]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,IND137,Mumbai,Unknown,Entire Home/Apartment,3200,2.000000,1,1,4.000000,2022-03-12
1,IND138,Bangalore,Indiranagar,Private Room,1800,1.959184,1,1,2.000000,2023-02-15
2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,4200,3.000000,2,2,3.853659,2021-12-25
3,IND140,Chennai,Teynampet,Shared Room,1000,1.000000,2,1,1.000000,2022-05-05
4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.000000,3,3,5.000000,2022-08-20
5,IND142,Pune,Unknown,Private Room,2500,1.000000,1,2,3.000000,2023-10-01
6,IND143,Kolkata,Park Street,Entire Home/Apartment,2800,2.000000,2,2,4.000000,2022-04-15
7,IND144,Mumbai,Colaba,Shared Room,800,1.000000,1,1,3.853659,2022-06-18
8,IND145,Bangalore,Koramangala,Entire Home/Apartment,5200,3.000000,3,3,6.000000,2022-02-28
9,IND146,Chennai,Anna Nagar,Private Room,1500,1.000000,1,1,2.000000,2022-07-10
10,IND147,Hyderabad,Gachibowli,Entire Home/Apartment,4500,3.000000,2,3,4.000000,2022-01-10
11,IND148,Mumbai,Andheri,Private Room,1200,1.000000,1,1,3.000000,2021-12-25
12,IND149,Delhi,Dwarka,Shared Room,900,1.000000,1,2,2.000000,2022-02-20
13,IND150,Chennai,Egmore,Entire Home/Apartment,3800,3.000000,3,3,3.853659,2022-11-08
14,IND151,Pune,Shivaji Nagar,Private Room,2000,1.000000,1,1,4.000000,2022-05-15
15,IND152,Kolkata,Camac Street,Entire Home/Apartment,3200,2.000000,2,2,5.000000,2022-06-18
16,IND153,Bangalore,Electronic City,Shared Room,600,1.000000,2,1,1.000000,2022-09-01
17,IND154,Mumbai,Nariman Point,Entire Home/Apartment,5800,3.000000,3,3,6.000000,2022-03-25
18,IND155,Hyderabad,Secunderabad,Private Room,1000,1.000000,1,1,3.000000,2022-07-04
19,IND156,Chennai,Thiruvanmiyur,Entire Home/Apartment,4800,3.000000,2,3,5.000000,2022-02-14
20,IND157,Mumbai,Worli,Entire Home/Apartment,5000,3.000000,3,2,5.000000,2022-06-18
21,IND158,Delhi,Aerocity,Private Room,1500,1.000000,1,1,4.000000,2023-01-02
22,IND159,Bangalore,HSR Layout,Shared Room,700,1.000000,2,1,2.000000,2022-03-23
23,IND160,Hyderabad,Kondapur,Entire Home/Apartment,4200,3.000000,3,3,6.000000,2022-09-15
24,IND161,Chennai,Velachery,Private Room,800,1.000000,1,1,1.000000,2022-10-04
25,IND162,Pune,Koregaon Park,Entire Home/Apartment,5800,3.000000,3,3,3.853659,2022-07-22
26,IND163,Kolkata,Salt Lake,Shared Room,500,1.000000,1,2,2.000000,2022-05-01
27,IND164,Mumbai,BKC,Entire Home/Apartment,6500,3.000000,4,4,7.000000,2022-04-10
28,IND165,Delhi,Saket,Private Room,1800,1.000000,1,1,5.000000,2022-08-15
29,IND166,Bangalore,MG Road,Entire Home/Apartment,7500,3.000000,4,4,3.853659,2022-03-28
30,IND167,Chennai,Guindy,Entire Home/Apartment,3800,3.000000,3,2,5.000000,2022-08-12
31,IND168,Pune,Hadapsar,Private Room,1200,1.000000,1,1,3.000000,2023-02-20
32,IND169,Kolkata,New Town,Shared Room,600,1.000000,2,1,2.000000,2022-04-15
33,IND170,Mumbai,Powai,Entire Home/Apartment,5500,3.000000,3,3,6.000000,2022-09-20
34,IND171,Delhi,Rohini,Private Room,1500,1.000000,1,1,4.000000,2022-06-01
35,IND172,Bangalore,Jay Nagar,Entire Home/Apartment,6800,3.000000,4,4,3.853659,2022-04-25
36,IND173,Hyderabad,Manikonda,Shared Room,800,1.000000,1,2,3.000000,2022-07-15
37,IND174,Chennai,Tambaram,Entire Home/Apartment,4500,3.000000,3,3,5.000000,2022-03-18
38,IND175,Pune,Wagholi,Private Room,1500,1.000000,1,1,4.000000,2023-01-10
39,IND176,Kolkata,Baranagar,Entire Home/Apartment,5000,3.000000,3,3,3.853659,2022-08-05
40,IND177,Mumbai,Ghatkopar,Shared Room,700,1.000000,2,1,2.000000,2022-05-22
41,IND178,Delhi,Dilshad Garden,Entire Home/Apartment,6200,3.000000,4,4,7.000000,2022-05-12
42,IND179,Bangalore,Electronic City Phase 2,Private Room,1800,1.000000,1,1,5.000000,2022-08-25
43,IND180,Hyderabad,Kukatpally,Entire Home/Apartment,7500,3.000000,4,4,3.853659,2022-06-28
44,IND181,Chennai,Adyar,Shared Room,500,1.000000,1,2,2.000000,2022-04-01
45,IND182,Pune,Bavdhan,Entire Home/Apartment,5800,3.000000,3,3,6.000000,2022-09-10
46,IND183,Kolkata,Lake Town,Private Room,1200,1.000000,1,1,3.000000,2023-02-15
47,IND184,Mumbai,Santacruz,Entire Home/Apartment,7000,3.000000,4,4,7.000000,2022-07-22
48,IND185,Delhi,Pitampura,Shared Room,800,1.000000,2,1,2.000000,2022-10-03
49,IND186,Bangalore,Marathahalli,Entire Home/Apartment,8000,3.000000,5,5,3.853659,2022-05-05

-- calculating top 3 rooms in each city based on Reviews

In [49]:
df["Rank"] = df.groupby("City")["Reviews"].rank(method="dense", ascending=False)
top_3 = df[df["Rank"] <= 3].sort_values(["City", "Rank"])

-- Multiple rooms have same reviews in top 3, so in order to show all rooms having the same reviews i.e to tackle tie situation, I ranked the pivot table data on reviews

In [65]:
df_pvt=top_3[["City", "Reviews", "ID", "Rank"]].set_index('City')
df_pvt

            Reviews      ID  Rank
City
Bangalore  6.000000  IND145   1.0
Bangalore  5.000000  IND179   2.0
Bangalore  3.853659  IND166   3.0
Bangalore  3.853659  IND172   3.0
Bangalore  3.853659  IND186   3.0
Chennai    5.000000  IND156   1.0
Chennai    5.000000  IND167   1.0
Chennai    5.000000  IND174   1.0
Chennai    3.853659  IND150   2.0
Chennai    2.000000  IND146   3.0
Chennai    2.000000  IND181   3.0
Delhi      7.000000  IND178   1.0
Delhi      5.000000  IND165   2.0
Delhi      4.000000  IND158   3.0
Delhi      4.000000  IND171   3.0
Hyderabad  6.000000  IND160   1.0
Hyderabad  5.000000  IND141   2.0
Hyderabad  4.000000  IND147   3.0
Kolkata    5.000000  IND152   1.0
Kolkata    4.000000  IND143   2.0
Kolkata    3.853659  IND176   3.0
Mumbai     7.000000  IND164   1.0
Mumbai     7.000000  IND184   1.0
Mumbai     6.000000  IND154   2.0
Mumbai     6.000000  IND170   2.0
Mumbai     5.000000  IND157   3.0
Pune       6.000000  IND182   1.0
Pune       4.000000  IND151   2.0
Pune       4.000000  IND175   2.0
Pune       3.853659  IND162   3.0

-- INFERENCE AND OBSERVATIONS

- Top Ranked IDs : The IDs IND164, IND184, and IND178 have the highest reviews (7.0) and are ranked 1st.
-  Second Tier : IDs like IND145, IND182, and others have 6.0 reviews and are ranked 2nd.
- Third Tier : IDs with 5.0 reviews are ranked 3rd (e.g., IND156, IND157, etc.).
- Pattern : Higher reviews = Better rank.
- Many Ties : Multiple IDs have the same rank, meaning a few places have similar performance.
- Delhi & Mumbai Lead in Reviews:
Delhi and Mumbai have the highest-rated rooms, with reviews reaching 7.0, indicating strong customer satisfaction.
Mumbai has two top-ranked rooms with 7.0 ratings, showing competition at the highest level.
- Cities with Equal-Ranked Rooms:
Chennai has three rooms tied for Rank 1 with 5.0 reviews, meaning they have equally strong performance.
Bangalore and Pune show ties in Rank 3, indicating closely rated rooms.